
* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
    line-height: 1.6;
}
ul , ol{
    padding: 10px;
}

#main-heading {
    color: white;
}

header {
    background: linear-gradient(to right, rgb(201, 129, 221), rgb(71, 12, 167));
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 8px;
}


nav a:hover {
    background-color: white;
    color: rgb(144, 144, 211);
    border-radius: 5px;
}

.hero {
    background-color: rgb(207, 115, 115);
    padding: 40px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(179, 235, 139);
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

ul > li {
    transition: transform 0.3s;
}

.gallery-grid img:hover {
    transform: scale(2);
}
.gallery-grid figure {
    display: inline-block;
    width: 200px;          
    vertical-align: top;    
    margin: 10px;
    text-align: center;
}

.gallery-grid img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: blue;
    color: white;
}


tr:nth-child(even) {
    background-color: #eeeeee;
}

tr:hover {
    background-color: lightblue;
}

form {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: blanchedalmond;
    border-radius: 2.5%;

}


fieldset {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

input:focus,
textarea:focus {
    border: 2px solid blue;
}
button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: darkblue;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
